@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #42C3FF;
  --border: #E0E0E0;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #42C3FF;
    --border: #E0E0E0;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Craft.js renderer container */
.craftjs-renderer {
  width: 100%;
  position: relative;
  min-height: 100%;
}
